.food_donate {
    background-image: url('../../assets/Home/food-bank.jpg');
}
.grow {
    background-image: url("../../assets/Home/grow.jpg");
}
.money {
    background-image: url("../../assets/Home/money.jpg");
}
.volunteer {
    background-image: url("../../assets/Home/volunteer.jpg");
}